# MongoDB Atlas
MONGODB_ATLAS_URI=
MONDODB_ATLAS_DB_NAME=map_poster

# Amazon Web Services
#AWS_KEY_ID=
#AWS_SECRET_KEY=
#AWS_S3_BUCKET_NAME=

# Mapbox Public Token (okay to expose on frontend)
NEXT_PUBLIC_MAPBOX_TOKEN=

# My Map Poster API URL (for client-side requests)
NEXT_PUBLIC_API_URL=/api